/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/*List-services */

.list-services { font-size: 21px; font-weight: 700; color: #020202; text-transform: uppercase; }

.list-services li { display: inline-block; width: 49%; margin-bottom: 16px; }
.list-services li:nth-child(2n) { padding-left: 27px; }

.list-services li i { margin-right: 12px; }

/*List-details */

.list-details { position: relative; z-index: 5; max-width:270px; }

.list-details:before { content: ''; display: inline-block; width: 272px; height: 263px; border: 1px solid #bababa; border-radius: 4px; position: absolute; top: 50%; left: 0; z-index: 0; transform:translateY(-50%);}


.list-details li { margin-bottom: 63px; position: relative; padding-left: 48px; }
.list-details li h4 { color: #d2a25d; }

.list-details li h6 { font-size: 21px; }

.list-details li h6 span { background: #fff; padding: 0 21px 0 17px; position: relative; z-index: 5; }
.list-details li h6 strong { font-size: 31px; color: #232351;background: #fff; }

.list-details li i { position: absolute; top: 50%; left: 0; transform:translate(-50%, -50%); }

.list-details li:nth-child(2):before,
 .list-details li:nth-child(3):before { content: ''; display: inline-block; width: 272px; height: 1px; background: #bababa; position: absolute; top: 50%; left: 0; }

.list-details li:nth-child(5) { position: absolute; top: 97px; right: -46px; text-align: center; margin-bottom: 0; padding-left: 0; }
.list-details li:nth-child(5) i { margin-bottom: 23px; position: static; transform:translate(0);}

.list-details li:nth-child(6) { position: absolute; top: 79px; right: -234px; padding-left: 0; text-align: center; }
.list-details li:nth-child(6):before { content: '';  display: inline-block; height: 1px; width: 85px; background: #bababa; position: absolute; top: 62px; left: -72px; }
.list-details li:nth-child(6) i { margin-bottom: 17px; position: static; transform:translate(0); }

/*List-stats */

.list-stats { text-align: center; padding: 66px 0 0; }

.list-stats li { display: inline-block; width: 40%; vertical-align: bottom; }

.list-stats em { font-style: normal; }

.list-stats strong { font-size: 107px; line-height: 1; color: #232351; display: inline-block; vertical-align: bottom; position: relative; top: 8px; }

.list-stats strong span { font-size: 57px; position: relative; left: -20px; }

.list-stats p { display: inline-block; vertical-align: bottom; width: 60%; text-align: left; margin-bottom: 0; }

$breakpoint-small-desktop{
	.list-services { display: inline-block; width: 80%; text-align: left; }

	.list-stats { padding-top: 20px; }
	.list-stats li { display: block; width: 100%; }
}


/* Mobile */

$breakpoint-mobile {
	.list-stats li { margin-bottom: 20px; }
	.list-stats strong { font-size: 80px; }
	.list-stats strong span { font-size: 50px; }

	.list-services { width: 100%; }
	.list-services li { display: block; width: 100%; }

	.list-services li:nth-child(2n) { padding-left: 0; }

	.list-details:before { width: 240px; }
	
	.list-details li { padding-left: 0; }
	
	.list-details li:nth-child(2):before,
	.list-details li:nth-child(3):before { width: 220px; }

	.list-details li:nth-child(5) { right: -13px; }

	.list-details li:nth-child(6) {right: -145px;  }
	
	.list-details li:nth-child(6):before {width: 42px; left: -42px; }
}

$breakpoint-mobile-portrait{
	.list-stats p { display: block; width: 100%; margin-top: 20px; }
	
	.list-details { max-width:230px; margin: 0 auto; }
	.list-details:before { width: 230px;  }
	
	.list-details li:nth-child(2):before,
	.list-details li:nth-child(3):before { width: 225px; }
	
	.list-details li:nth-child(5) { right: -40px; }

	.list-details li:nth-child(6) { right: 50px; top: 100%; padding-top: 60px; }
	.list-details li:nth-child(6):before { transform:rotate(90deg); width: 50px; left: 30px; top: 34px; }
}