/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; padding-top: 32px; }
.widgets:after { @extend clearfix; }

.widgets .widget { float: left; width: 43.7%; margin-right: 12.6%; }
.widgets .widget:last-child { margin-right: 0; }

.widget p { font: 15px $font-roboto; }
.widget img { width: 100%; height: auto; }

.widget .widget-title { text-transform: none; margin-bottom: 28px; }

.widget .widget-title a { text-decoration: none; transition:color .3s; }

.widget .widget-title a:hover { color: #383874; }

.widget .widget-content { background: #f1f1f1; padding: 26px 10px 32px 21px;}

$breakpoint-mobile-portrait{
	.widgets .widget { float: none; width: 100%; margin-bottom: 30px; }
	.widgets .widget:last-child { margin-bottom: 0; }
}