/* ------------------------------------------------------------ *\
	Step
\* ------------------------------------------------------------ */

.steps { list-style: none; display: inline-block; background: url(images/temp/steps-bg.png) no-repeat center center; position: relative; min-height:176px; min-width:209px; text-align: left; background-size:cover; }

.steps:after { content: ''; display: inline-block; background: url(images/temp/money.png) no-repeat center center; width: 97px; height: 73px; background-size:cover; position: absolute; bottom: 0; right: -11px; }

.step { position: absolute; }
.step h6 { text-transform: uppercase; color: #d08c49; margin-bottom: 2px; }

.step h5 { color: #d08c49; }
.step h5 strong { display: block; color: #000;  }
.step .step-image { position: relative; }

.step-primary { top: -50px; left: -180px; }
.step-primary h5 { margin-bottom: 24px; }

.step-primary .step-image:before { content: ''; display: inline-block; background: url(images/temp/arrow-small.png) no-repeat 0 0; width: 13px; height: 47px; position: absolute; top: 50%; right: -45px; transform:translateY(-50%) rotate(-90deg); }

.step-secondary { top: -38px; right: -192px; }
.step-secondary h5 { margin-bottom: 5px; }
.step-secondary .step-image { margin-left: 4px; }

.step-secondary .step-image:before { content: ''; display: inline-block; background: url(images/temp/arrow-small.png) no-repeat 0 0; width: 13px; height: 47px; position: absolute; top: 57%; left: -56px; transform:translateY(-50%) rotate(-90deg); }

.step-tertiary { bottom: -187px; left: -180px; }

.step-tertiary .step-image { display: inline-block; vertical-align: middle; margin-left: 43px; }
.step-tertiary .step-image:before { content: ''; display: inline-block; background: url(images/temp/arrow-small.png) no-repeat 0 0; width: 13px; height: 47px; position: absolute; top: -78px; right: 30%; }

.step-tertiary .step-content { display: inline-block; vertical-align: middle; padding-top: 3px; }

.step-quaternary { bottom: -192px; right: -200px; }
.step-quaternary .step-image { float: left; margin: 3px 40px 0 0; }

.step-quaternary .step-image:before { content: ''; display: inline-block; background: url(images/temp/arrow-small.png) no-repeat 0 0; width: 13px; height: 47px; position: absolute; top: -80px; left: 10%; }

.step-quaternary .step-content { float: right; }

$breakpoint-large-desktop{
	.step-secondary { right: -175px; }
	
	.step-secondary .step-image:before { left: -45px; }
	.step-quaternary { right: -183px; }
}

$breakpoint-mobile{
	.steps { background: none; min-width:0;  }
	.steps:after { content: none; }

	.step { position: static; margin-bottom: 30px; }
	.step .step-content { display: inline-block; vertical-align: top; float: none;  }

	.step .step-image { display: inline-block; float: none; margin: 0 0 0 25px; }
	
	.step-primary .step-image:before { transform:translateY(-50%) rotate(0deg);}

	.step-secondary .step-image:before { left: auto; right: -45px; transform:translateY(-50%) rotate(0deg);}

	.step-tertiary .step-image:before { top: 50%; right: -45px; transform:translateY(-50%) rotate(0deg) ;}

	.step-quaternary .step-image:before  { content: none; }

}