/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro-outer { background: #272647 url(images/temp/intro-bg.png) no-repeat center center; background-size:cover; transition:background .3s;}

.intro-outer .switch { position: absolute; top: 75px; right: 5.25%; }

.intro { padding-top: 223px; }

.intro .intro-title { color: #d08c49; margin-bottom: 40px; font-size: 50px; }

.intro .intro-inner { padding-bottom: 150px; }
.intro .intro-inner:after { @extend clearfix; }

.intro .intro-image { float: left; width: 39.4%; }

.intro .btn { margin-top: 60px; }

.intro .intro-content { float: left; width: 60.60%; color: #fff; font-size: 21px; }

.intro-dao .intro-title span { color: #d08c49;  }

.intro-dao .intro-content { padding: 120px 0 0 15px; }

.intro-dao .intro-content p { margin-bottom: 0; }
.intro-dao .intro-content p + p { margin-top: 27px; }

.intro-developers { display: none; }

.intro-developers .intro-content { padding-top: 120px; }

.intro-developers .author { color: #888; display: block; }

.intro-outer.switched { background: #444646; }

.intro-outer.switched .intro-dao { display: none; }

.intro-outer.switched .intro-developers { display: block; }

.intro-outer.switched + .main .main-inner { display: none; }
.intro-outer.switched + .main .main-inner-secondary { display: block; }

$breakpoint-small-desktop{
	.intro-developers .intro-content { padding-left: 20px; }
}
$breakpoint-tablet-portrait{

	.intro { padding-top: 170px; }
	
	.intro .intro-image,
	.intro .intro-content { float: none; width: 100%; text-align: center; }

	.intro .intro-content { padding-top: 50px; }

	.intro .intro-inner { padding-bottom: 50px; }
}

/* Mobile */

$breakpoint-mobile {

	.intro-outer .switch { top: 120px; right: 50%; transform:translateX(50%);}

	.intro .intro-content { font-size: 18px; padding-left: 0;  }
}
