/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials-small { list-style: none; }

.socials-small li { display: inline-block; }

.socials-small a:hover { opacity: .9;  }

/*Socials */

.socials ul { list-style: none; }

.socials li { float: left; text-transform: uppercase; font-weight: 700; }

.socials li a { text-decoration: none; transition:color .3s;}

.socials li a:hover { color: #d08c49; }

.socials li+li { margin-left: 60px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.socials { text-align: center; }
	.socials li { float: none; display: inline-block; }
}

$breakpoint-mobile-portrait{
	.socials li { display: block; width: 100%; margin-bottom: 10px; }
	.socials li+li { margin-left: 0; }
}