/* ------------------------------------------------------------ *\
	Benefit
\* ------------------------------------------------------------ */

.benefits {list-style: none; text-align: center; }

.benefits .benefit { display: inline-block; width: 19.35%; vertical-align: top; margin: 30px 7% 42px 0; }

.benefits .benefit:nth-child(4n) { margin-right: 0; }
.benefits .benefit:nth-child(4n):last-child { margin-right: 0; }

.benefit .benefit-title { font-size: 17px; }

.benefit .benefit-image { min-height:155px; position: relative; margin-bottom: 32px; }
.benefit .benefit-image:before { content: ''; display: inline-block; width: 1px; height: 100%; background: #ccc; position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); box-shadow: -1px 0 10px rgba(0,0,0, .5);}

.benefit .benefit-image img { position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.benefits .benefit { margin-right: 6%; }
}

/* Mobile */

$breakpoint-mobile {
	.benefits .benefit { display: block; width: 100%; }

	.benefit .benefit-image { margin-bottom: 10px; }
}