/* ------------------------------------------------------------ *\
	Member
\* ------------------------------------------------------------ */

.members { list-style: none outside none; }
.members:after { @extend clearfix; }

.members .member { float: left; margin-right: 5.93%; width: 20.55%; font-size: 15px; color: #5b5b5b; }

.members .member:last-child { margin-right: 0; }

.member .member-title { line-height: 1; margin-bottom: 8px; color: #262626; }

.member .member-image { margin-bottom: 25px; }

.member .member-content { padding-right: 15%; }

.member .member-content p:last-child { margin-bottom: 14px; }

.member .member-content p strong { color: #000; }

.member .member-content a { text-decoration: none; }

.member .member-content a:hover { text-decoration: underline; }

/* Mobile */

$breakpoint-mobile {
	.members .member { width: 48%; margin: 0 4% 30px 0; }
	
	.members .member:nth-child(2n) { margin-right: 0; }

	.member img { width: 100%; height: auto; }

	.member .member-content { padding-right: 0;  }

}

$breakpoint-mobile-portrait{
	.members .member { float: none; width: 100%; margin: 0 0 30px 0; }

	.member .member-image { margin-bottom: 15px; }
	.member p { margin-bottom: 10px; }
}
